<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
    <!-- <link rel="stylesheet" href="https://use.typekit.net/your-kit-id.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/Dashbord.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src=
        "https://cdn.plot.ly/plotly-latest.min.js">
    </script>
</head>
<body>
    <div class="sidenav">
        <div class="gradiant-border top-page">
           <div class="userinfo d-flex">
            <div class="p-3">
                <img src=<%= Avatar %> alt="user image" class="userimge" id="user_image"  data-bs-toggle="modal" data-bs-target="#userImageModal">
            </div>
            <div>
            </div>
            <div class="py-3" style="display: flex;flex-direction: column; justify-content: center;">
                <p style="font-size: 12px; color: rgb(49, 49, 49);">
                    <%= FerstName %> <%= LastName %>
                </p>
                <p style="font-size: 12px;color: gray;">
                    <%= Rol %>
                </p>
            </div>
                
           </div>
        </div>
        <div class="parent-slid">
            <div class="navbtu">
                <div class="box" id="Dashbord"  onclick="dashbord()">
                    <div class="d-flex">
                        <div class="icon-div custom-orange">
                            <i class="fas fa-tachometer-alt "></i> <!-- Dashboard icon -->
                        </div>
                        <p>Dashbord</p>
                    </div>
                </div>
            </div>
            <div class="navbtu">
                <div class="silds" id="Articles" onclick="articles()">
                    <div class="d-flex">
                        <div class="icon-div box">
                            <i class="fas fa-file-alt"></i>
                        </div>
                        <p>Users Articles</p>
                    </div>
                </div>
             </div>
             <div class="navbtu">
                 <div class="silds" id="Profile" onclick="profile()">
                    <div class="d-flex">
                        <div class="icon-div box">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <p>Profile</p>
                    </div>
                </div>
            </div>
    
            <div class="navbtu">
                    <div class="silds" id="Logout" onclick="Log_out()">
                        <div class="d-flex">
                            <div class="icon-div box">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            
                            <p>Logout</p>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
      <!-- Dashbord -->
      
    <div class="main" id="main-dashbord">
        <div class="top-page px-4">
            <div>
                <h3>
                    Dashbord
                </h3>
            </div>
        </div>
        <div class="parent">
            <div class="child viwers">
                <div class="status">
                    <div class="box custom-orange insidebox">
                        <div class="box-icons iconsinbox" >
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <h2>
                            <b><%= totallview %></b>
                        </h2>
                        <p>
                            <b>view</b>
                        </p>


                    </div>
                </div>
                <div class="status">
                    <div class="box bg-dark insidebox">
                        <div class="box-icons iconsinbox">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <h2>
                            <b><%= totallikes %></b>
                            
                        </h2>
                        <p>
                            <b>Like</b>
                        </p>

                    </div>
                </div>
                <div class="status">
                    <div class="box bg-dark insidebox">
                        <div class="box-icons iconsinbox">
                            <i class="fas fa-eye"></i>
                        </div>
                        <h2>
                            <b><%= totallview - (totallikes + totalldislike) %></b>
                        </h2>
                        <p>
                            <b>No Reaction</b>
                        </p>

                    </div>
                </div>
                <div class="status">
                    <div class="box bg-dark insidebox">
                        <div class="box-icons iconsinbox">
                            <i class="fas fa-thumbs-down"></i>
                        </div>
                        <h2>
                            <b><%= totalldislike %></b>
                        </h2>
                        <p>
                            <b>Dislike</b>
                        </p>
                    </div>
                </div>

            </div>
            <div class="child plot">
                <div class="box" id="plot" style="overflow: hidden;" >
                     <!-- <div style="width: 100%; height: 100%;"></div> -->
                     <script>
                        var trace1 = {
                            x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                            y: [20, 14, 23, 25, 22, 18, 15],
                            type: 'scatter'
                        };
                        var layout = {
                            width: 600,  // Set the width of the plot
                            height: 400  // Set the height of the plot
                        };
                        var data = [trace1];
                        Plotly.newPlot('plot', data, layout);
                    </script>

                </div>

            </div>
            <div class="child history">
                <div class="box p-3" id="project-box">
                    <div class="mb-3">
                        <p>
                            <b>Projects</b>
                        </p>
                        <p class="text-secondary">
                            your projects details
                        </p>
                    </div>
                    
                    <table id="articletabel">
                        <thead>
                            <tr>
                                <th>Name of Project</th>
                                <th>Writer</th>
                                <th>Total view</th>
                                <th>Like</th>
                                <th>Dislike</th>
                                <th>Precision</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div style="display: none;" id="article-len"><%= articles.length %></div>
                            <% articles.forEach((element, index )=> { %>
                                <tr>
                                    <td><%= element.Title %></td>
                                    <td><%= element.creator.UserName %></td>
                                    <td><%= element.NumberSee %></td>
                                    <td><%= element.Like %></td>
                                    <td><%= element.Dislike %></td>
                                    <td> 
                                        <p id=<%= "progressText"+index %>></p>
                                        <div class="progress">
                                            <div class="progress-bar" id=<%= "progressBar"+index %> role="progressbar" style=<%= "with:"+String(Math.round((((element.Like+(element.NumberSee+0.001))/(element.NumberSee+0.001))-1)*100))+"%;" %> aria-valuenow=<%= String(Math.round((((element.Like+(element.NumberSee+0.001))/(element.NumberSee+0.001))-1)*100)) %> aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                      </table>
                    <div class="d-flex justify-content-center align-items-center w-100 mt-5"  style="position: fixed; top: 90%; left: -6%;">
                        <nav aria-label="next page">
                            <ul class="pagination pagination-sm custom-pagination">
                                <% for( let index = 1; index <= num_offsets; index++ ) { %>
                                    <% if (index === 1) { %>
                                        <li class="page-item active" id="offset_1" onclick="Ofst('offset_1')">
                                            <a class="page-link" >1</a>
                                          </li>
                                    <% } else{ %>
                                    <li class="page-item" id=<%="offset_"+index%> onclick="Ofst('<%='offset_'+index%>')">
                                        <a class="page-link" ><%= index %></a>
                                      </li>
                                      <% } %>
                                <% } %>
                            </ul>
                          </nav>

                    </div>
                      
                    
                </div>
            </div>
            <div class="child add-article">
                <div class="box container "class="row justify-content-center" >                
                            <div class="card w-100 h-100">
                              <div class="card-body">
                                <h2 class="text-center">Submit Your Article</h2>
                                <%- msg %>
                                <form action="/user/uploadArticle" method="post">
                                    
                                  <div class="mb-3">
                                    <label for="title" class="form-label">Article Title</label>
                                    <input type="text" class="form-control" id="title" name="Title" required>
                                  </div>
                    
                                  <div class="mb-3">
                                    <label for="content" class="form-label">Article Content</label>
                                    <input type="text" class="form-control" id="content" name="Text"required>
                                  </div>
                    
                                  <div class="mb-3">
                                    <label for="publish_time" class="form-label">Time of Writing</label>
                                    <input type="datetime-local" class="form-control" id="publish_time" name="CreateAt">
                                  </div>
                    
                                  <div class="mb-3">
                                    <label for="category" class="form-label">Article Category</label>
                                    <select class="form-select" id="category" name="Categury" required>
                                      <option value="Technology">Technology</option>
                                      <option value="Health">Health</option>
                                      <option value="Business">Business</option>
                                      <option value="Entertainment">Entertainment</option>
                                    </select>
                                  </div>   
                                  <button type="submit" class="btn btn-primary w-100 mt-3" id="submit">Submit Article</button>
                                </form>
                              </div>
                            </div>
                      </div>                    
            </div>
        </div>
    </div>
    <!-- -------------------- -->
     <!-- Articles -->
     <div class="main" id="main-article" style="display: none;">
        <div class="top-page px-4">
            <div>
                <h3>
                    Articles
                </h3>
            </div>
        </div >
        <div class="parent w-100 h-100 d-flex justify-content-center align-items-center ">

            <div class="child history" style="width: 600px; height: 700px;">
                <div class="box p-3 d-flex justify-content-center align-items-center flex-direction-center" id="project-box">
                    <div class="mb-3">
                        <p>
                            <b>Update Profile</b>
                        </p>
                    </div>
                    
                    <div class="modal-body">
                        <form class="w-100 h-100">
                            <div class="field space">
                                <span class="fa-solid fa-user-pen"></span>
                
                                <input type="text" required value=<%= FerstName %> name="FerstName" id="FerstName">
                             </div>
                             <div class="field space">
                                <span class="fa-solid fa-user-tag"></span>
                                <input type="text" required value=<%= LastName %> name="LastName" id="LastName">
                             </div>
                              <div class="field space">
                                 <span class="fa fa-user"></span>
                                 <input type="text" required value= <%= UserName %> name="UserName" id="UserName">
                              </div>
                              <div class="field space">
                                <span class="fa-solid fa-phone"></span>
                                <input type="text" required value=<%= PhoneNumber %> name='PhoneNumber' id="PhoneNumber">
                             </div>
                    
                             <div class="field space">
                                <span class="fa-solid fa-person-half-dress"></span>
                                <select name="Gender" id="Gender">
                                    <option value="male" <%= (Gender === "male") ? 'selected' : '' %>>Male</option>
                                    <option value="female" <%= (Gender === "female") ? 'selected' : '' %>>Female</option>
                                    <option value="other" <%= (Gender === "other") ? 'selected' : '' %>>Other</option>
                                    
                                </select>                                
                            </div>
                            
                              <div class="field d-flex flex-column">
                                 <button onclick="Update()" class="btn mt-3" style="color: white; background-color: rgb(0, 97, 177);"> Update</button>
                                 <button onclick="Delete()" class="btn mt-3 "  style="background-color: red; border-color: red; color: white;"> Deleat</button>
                              </div>
                           </form>
                           
                </div>
            </div>
        </div>
            
        </div>
    </div>

    <!-- -------------------- -->
     <!-- Profile -->
     <div class="main" id="main-profile" style="display: none;">
        <div class="top-page px-4">
            <div>
                <h3>
                    Profile
                </h3>
            </div>
        </div >
        <div class="parent w-100 h-100 d-flex justify-content-center align-items-center ">

            <div class="child history" style="width: 600px; height: 700px;">
                <div class="box p-3 d-flex justify-content-center align-items-center flex-direction-center" id="project-box">
                    <div class="mb-3">
                        <p>
                            <b>Update Profile</b>
                        </p>
                    </div>
                    
                    <div class="modal-body">
                        <form class="w-100 h-100">
                            <div class="field space">
                                <span class="fa-solid fa-user-pen"></span>
                
                                <input type="text" required value=<%= FerstName %> name="FerstName" id="FerstName">
                             </div>
                             <div class="field space">
                                <span class="fa-solid fa-user-tag"></span>
                                <input type="text" required value=<%= LastName %> name="LastName" id="LastName">
                             </div>
                              <div class="field space">
                                 <span class="fa fa-user"></span>
                                 <input type="text" required value= <%= UserName %> name="UserName" id="UserName">
                              </div>
                              <div class="field space">
                                <span class="fa-solid fa-phone"></span>
                                <input type="text" required value=<%= PhoneNumber %> name='PhoneNumber' id="PhoneNumber">
                             </div>
                    
                             <div class="field space">
                                <span class="fa-solid fa-person-half-dress"></span>
                                <select name="Gender" id="Gender">
                                    <option value="male" <%= (Gender === "male") ? 'selected' : '' %>>Male</option>
                                    <option value="female" <%= (Gender === "female") ? 'selected' : '' %>>Female</option>
                                    <option value="other" <%= (Gender === "other") ? 'selected' : '' %>>Other</option>
                                    
                                </select>                                
                            </div>
                            
                              <div class="field d-flex flex-column">
                                 <button onclick="Update()" class="btn mt-3" style="color: white; background-color: rgb(0, 97, 177);"> Update</button>
                                 <button onclick="Delete()" class="btn mt-3 "  style="background-color: red; border-color: red; color: white;"> Deleat</button>
                              </div>
                           </form>
                           
                </div>
            </div>
        </div>
            
        </div>
    </div>
      <!-- ------------------ -->

      <!-- image modal -->
       <!-- Modal -->

    <div class="modal fade" id="userImageModal" tabindex="-1" aria-labelledby="userImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5 class="modal-title" id="userImageModalLabel">User Image</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body text-center">
              <img src=<%=Avatar%> alt="User Image" class="img-fluid">
            </div>
            <form action="/user/uplodavatar" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar"  class="p-1"/>
                <input type="submit" value="Get me the stats!" class="btn btn-default">
            </form>
            <!-- Modal Footer (Optional) -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
        </div>
    </div>
    <script src="/javascripts/dashbord.js"></script>
</body>
</html>